################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AllTries
**/bin/
**/obj/
/packages/
/ADLibrary/.vs/ActiveDirectoryLibrary/v16
/MandrillEmail/key.txt
